<div>
  <nav>
    <div class="logo">
      <span>Recipe</span>
      <span>Curator</span>
    </div>

    <input class="recipe__title" type="text" [(ngModel)]="title" />

    <!-- download recipe button -->
    <button
      *ngIf="recipeService.recipe !== null"
      class="btn__green"
      [disabled]="!(recipeService.recipe.length > 0)"
      (click)="(downloadRecipePDF)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="img"
        width="1em"
        height="1em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 16 16"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M3.25 13.25h9m-8.5-6.5l4 3.5l4-3.5m-4-5v8.5"
        />
      </svg>
      Download PDF
    </button>
  </nav>

  <main>
    <!-- entries -->
    <app-entry
      *ngFor="let entry of recipeService.recipe; index as i; trackBy: trackByFn"
      [entry]="entry"
    ></app-entry>

    <!-- add entry button -->
    <button class="add_entry_btn" (click)="addEntry()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="img"
        width="1em"
        height="1em"
        preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-width="2"
          d="M12 20v-8m0 0V4m0 8h8m-8 0H4"
        />
      </svg>
      Add Entry
    </button>
  </main>
</div>
